game/index.html
<!DOCTYPE html><!--Dit is de game pagina, hier wordt de game gespeeld--><html lang="" class="no-js"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>Galgje</title><meta name="description" content=""><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One" type="text/css"><link href="../resources/style/site.css" rel="stylesheet"><link href="../resources/style/splash.css" rel="stylesheet"></head><body><div id="content"><h1>Galgje</h1><div id="speler" class="game"><h2>U:</h2><span id="woord1" class="woord"></span><div class="poging-container"><form id="inputs"><input id="letter" type="text" placeholder="Raad" autocomplete="off"><input id="verzendKnop" type="submit"></form><div id="pogingen1" class="pogingen">Pogingen:&nbsp<span class="aantalPogingen"></span><span id="al-geraden"></span></div></div></div><div id="tegenstander" class="game"><h2>Tegenstander:</h2><div id="zoeken">Aan het zoeken...<ul class="loader"><li></li><li></li><li></li></ul></div><div id="gevonden"><div class="raden"><span id="woord2" class="woord"></span></div><div class="poging-container"><div id="pogingen2" class="pogingen">Pogingen:&nbsp;<span class="aantalPogingen"></span></div></div></div></div><button id="restart">Opnieuw</button></div><script src="https://code.jquery.com/jquery-1.12.0.min.js"></script><script src="https://cdn.socket.io/socket.io-1.2.0.js"></script><script src="../resources/js/client.js"></script></body></html>

game/index.jade
doctype html
//Dit is de game pagina, hier wordt de game gespeeld
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Galgje
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Leckerli+One', type='text/css')
        link(href='../resources/style/site.css', rel='stylesheet')
        link(href='../resources/style/splash.css', rel='stylesheet')

    body
        #content
            h1 Galgje
            #speler.game
                h2 U:
                span#woord1.woord

                .poging-container
                    form#inputs
                        input#letter(type='text', placeholder='Raad', autocomplete='off')
                        input#verzendKnop(type='submit')

                    #pogingen1.pogingen Pogingen:&nbsp
                        span.aantalPogingen
                        span#al-geraden

            #tegenstander.game
                h2 Tegenstander:
                #zoeken Aan het zoeken...
                    ul.loader
                        li
                        li
                        li

                #gevonden
                    .raden: span#woord2.woord

                    .poging-container
                        #pogingen2.pogingen Pogingen:&nbsp;
                            span.aantalPogingen

            button#restart Opnieuw

        script(src='https://code.jquery.com/jquery-1.12.0.min.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='../resources/js/client.js')
